##
# Docker ignore
# https://docs.docker.com/engine/reference/builder/#dockerignore-file
##

# Build results
bin/
obj/

# VS Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Test results
TestResults/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/

# Uncomment if you have projects that use the Static Web Assets project property
# wwwroot/

# NuGet
*.nuget.props
*.nuget.targets
packages/
*.nupkg

#logs
logs/

# Redis data (if running in container)
*.rdb

# Environment files
*.env
.env*

# OS
.DS_Store
Thumbs.db

# IDE
.history/
